*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content:flex-end;
    gap: 10px;
}

input{
    padding-left: 5px;
    font-size: 1em;
    border: 1px solid #031732;
}

body{
    height:100vh;
    background-color: #6ED663;
    user-select: none;

}
header{
    background-color: rgb(249, 244, 236);
    padding: 15px;
    position: fixed;
    right: 0px;
    left: 0px;
    border: 1px solid #031732;
}

main{
    overflow: auto;
    padding-top: 100px;
}

h1{
    font-size: 2.4em;
    margin-left:40px;
    color: #031732;
}

/* UTILITY */

.m-b{
    margin-bottom: 40px;
}

/* SEZIONE CONTENITORI */

.content{
    padding-top:50px;
}

.tie{
    max-width: 800px;
    margin:0px auto;
}

.sec{
    background-color: rgb(249, 244, 236);
    padding:20px 40px;
    border: 1px solid #031732;

}

.due{
    margin-top:10px;
    padding:40px 80px;
}

/* SEZIONE LOGO */
.logo img, .logo span{
    vertical-align: middle;
}
.logo{
    padding:10px 20px;
}

.logo-text{
    font-size: 40px;
    font-weight: bold;
    color: #031732;
}


/* SEZIONE PULSANTI */
.button.canc{
    padding:7px;
    border-radius: 5px;
}

.task{
    background-color:#031732;
    color:white;
    padding:12px;
    border-radius: 5px;
    border:1px solid #031732;
    
}
.task:active{
    background-color:white;
    color: #031732;
    border:1px solid #031732;
}

.section{
    border:1px solid grey;
    color:grey;
}

ul{
    list-style: none;
}

.list > li{
    margin-bottom:20px;
    padding:5px;
    font-size: 1.5em;

}

li hr{
    color: #A0A2B2;
    background-color: #A0A2B2;
    margin-top: 10px;
}

.done{
    text-decoration: line-through;
}

.canc{
    margin-right: 20px;
    color: rgb(249, 244, 236);
    background-color: rgb(249, 244, 236);
    border:2px solid red;
    border-radius: 50%;
    padding:0 3.5px;
    font-size: 0.6em;
} 
.canc:hover{
    color: red;
}

.canc:hover{
    cursor: pointer;
} 