*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    background-color: #6ED663;
}
header{
    background-color: rgb(249, 244, 236);
    padding: 15px;
}

h1{
    font-size: 2.4em;
    margin-left:40px;
    color: #031732;
}

/* UTILITY */

.m-b{
    margin-bottom: 40px;
}

/* SEZIONE CONTENITORI */

.content{
    padding-top:50px;
}

.tie{
    max-width: 1000px;
    margin:0px auto;
}

.sec{
    background-color: rgb(249, 244, 236);
    padding:20px 40px;
    border-radius:8px;
}

.due{
    margin-top:10px;
    padding:40px 80px;
}

/* SEZIONE LOGO */
.logo img, .logo span{
    vertical-align: middle;
}
.logo{
    padding:10px 20px;
}

.logo-text{
    font-size: 40px;
    font-weight: bold;
    color: #031732;
}


/* SEZIONE PULSANTI */
.button{
    padding:7px;
    border-radius: 5px;
}

.task{
    background-color: skyblue;
    color:white;
}

.section{
    border:1px solid grey;
    color:grey;
}

.list > li{
    margin-bottom:20px;
    padding:5px;
    font-size: 1.5em;

}

li hr{
    color: #A0A2B2;
    background-color: #A0A2B2;
    margin-top: 10px;
}

.done{
    text-decoration: line-through;
}

.canc{
    margin-right: 20px;
    color: red;
    border:2px solid red;
    padding:0px 5px;
} 

.canc:hover{
    cursor: pointer;
} 