<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">
                <img src="./img/Logo.png" alt="Logo">
                <span class="logo-text">Toboolist</span>
            </div>
        </header>
    
        <main>
            <!--CONTENITORE PRINCIPALE PER IL BACKGROUND-->
            <div class="content">
                <!--CONTENITORE "CRAVATTA"-->
                <div class="tie">
    
                    <div class="sec uno">
                        <!--NAVIGATORE CON PULSANTI-->
                        <nav>
                            <input @keydown.enter="addTodo()" v-model="toDoInput" type="text" name="" id="add-todo">
                            <span @click="addTodo()" class="button task">Add Task</span>
                        </nav>
                    </div>
                    <div class="sec due">    
                    <!--SEZIONE PRINCIPALE-->
                        <section>
                        <!--LISTA DELLE LISTE-->
                            <h1 class="m-b">To Do</h1>
                            <ul class="list">
                            <!--LISTA NEW TASK-->
                                <li v-for="(task, i) in toDos">
                                    <span @mouseenter="" @click="deleteTodo(i)" class="canc">X</span>
                                    <span @click="invertDone(i)" :class="{done: task.done}" >{{task.text}}</span>
                                    <hr>
                                </li>
                                
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
</body>
</html>